{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}{{collector.surname}}{% endblock%}


{% block nav_class_index %}active{% endblock%}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1><i><b>{{ sponsor.user_full_name }}</b></i></h1>
        
        <h3><b>Основная информация:</b></h3>
        <table class="table" border=0>
          <tbody>
            <tr>
              <td>День Рождения:</td>
              <td>{{ sponsor.date_of_birth }}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>Пол:</td>
              <td>{{ sponsor.get_gender_display }}</td>
            </tr>
          </tbody>
        </table>
        
        <h3><b>Контактная информация:</b></h3>
        <table class="table" border=0>
          <tbody>
            <tr>
              <td>Моб. телефон:</td>
              <td>{{ sponsor.phone }}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>Skype:</td>
              <td>{{ sponsor.skype }}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>Адрес:</td>
              <td>{{ sponsor.address }}</td>
            </tr>
          </tbody>
        </table>
        <p><b>{{ sponsor.description }}</b></p>
      </div>
    </div>
{% endblock content %}
