{% extends 'exhibition/base.html' %}


{% load staticfiles %}



{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1><i><b>{{ exhibition.name }}</b></i></h1>
        
        <p>{{ exhibition.short_description }}</p>

        <p>Выставка состоится {{ exhibition.date.day }}.{{ exhibition.date.month }}.{{ exhibition.date.year }} в {{ exhibition.date.hour }}:{{ exhibition.date.minute }}.</p>

        {% if collections %}
          <h2><i><b>Будут представлены коллекции:</b></i></h2>
				  {% for collection in collections %}
            <li><p><i>{{ collection.name }}</i></p></li>
            <p>Коллекционер - {{ collection.collector }}</p>
            <p>{{ collection.description }}</p>
				  {% endfor %}
        {% endif %}

        <h2><i><b>Организаторы:</b></i></h2>
				
        {% for sponsor in sponsors %}
          <p>Спонсор: <a href="{% url 'sponsor:detail' sponsor.id %}">{{ sponsor.user_full_name }}</a></p>
				{% endfor %}
				
        {% for assistant in assistants %}
          <p>Ассистент: <a href="{% url 'sponsor:detail' assistant.id %}">{{ assistant.user_full_name }}</a></p>
				{% endfor %}

        <a class="btn btn-primary btn-sm" href="{% url 'exhibition:edit' exhibition.id %}" role="button">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Редактировать</a>
        <a class="btn btn-primary btn-sm" href="{% url 'exhibition:remove' exhibition.id %}" role="button">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить</a>
      </div>
    </div>
{% endblock content %}
