{% extends 'exhibition/base.html' %}


{% block title %}Удаление данных о выставке{% endblock%}


{% load staticfiles %}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1 align="center"><i><b>Удаление данных о выставке</b></i></h1>

        <p class="list-group-item list-group-item-warning" align="center">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Выставка {{exhibition.name}} будет удалена! <span class="glyphicon glyphicon-alert" aria-hidden="true"></span></p>
        <hr>

        <form method="post" align="right">
          {% csrf_token %}
          <input class="btn btn-primary" type="submit" value="Удалить" />
        </form>
        
      </div>
    </div>
{% endblock content %}