{% extends 'collector/base.html' %}


{% load staticfiles %}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1><i><b>Коллекционеры</b></i></h1>
        <table class="table" border=0>
          <thead>
            <tr>
              <th>#</th>
              <th>ФИО</th>
              <th>Телефон</th>
            </tr>
          </thead>
          {%for collector  in collectors %}
          <tbody>
            <tr>
              <th>{{ forloop.counter }}</th>
              <td><a href="{% url 'collector:detail' collector.id %}">{{ collector.surname }} {{ collector.name }}</a></td>
              <td>{{ collector.phone }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
        <p>
        Наша природа создала бабочек настолько прекрасными насекомыми, что они способны радовать человеческий глаз и после смерти.  Коллекционирование бабочек, или лепидоптерофилия сегодня становится все более и более распространенным хобби. Большинство собирает коллекции этих прекрасных насекомых на стенах, некоторые делают картины из их крыльев, а кто-то предпочитает наслаждаться красотой живых бабочек и разводит их самостоятельно. Это занятие приносит массу удовольствия, благодаря ему человек соприкасается с прекрасным.
        </p>
      </div>
    </div>
{% endblock content %}