{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Интересные факты{% endblock%}


{% block nav_class_404 %}active{% endblock%}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1><i><b>Интересные факты о бабочках.</b></i></h1>
        <p>
        Часто в названиях бабочек встречаются имена древнегреческих богов и героев, потому что знаменитый швед Карл Линей, создатель первой научной систематики животных, относился к бабочкам по-особенному и считал, что они такие же яркие и прекрасные, как и герои мифов.
        </p>
        <div class="col-xs-9 col-md-12">
          <a href="../static/images/general_1.jpg" class="thumbnail">
            <img src="../static/images/general_1.jpg" alt="...">
          </a>
        </div>
        <p>
        Самая крупная ночная бабочка в мире - Attacus Altas. Размах ее крыльев более 30 см. и ее часто ошибочно принимают за птицу.
        </p>
        <div class="col-xs-9 col-md-12">
          <a href="../static/images/general_2.jpg" class="thumbnail">
            <img src="../static/images/general_2.jpg" alt="...">
          </a>
        </div>
        <p>
        За свою короткую жизнь самка бабочки может отложить более 1000 яиц.
        </p>
        <div class="col-xs-9 col-md-12">
          <a href="../static/images/general_3.jpg" class="thumbnail">
            <img src="../static/images/general_3.jpg" alt="...">
          </a>
        </div>

        <p>
        Бабочки рождаются, чтобы умереть, дав жизнь новому поколению. Большинство из них живет всего несколько дней, за исключением Monarch, который может жить до шести месяцев.
        </p>
        <div class="col-xs-9 col-md-12">
          <a href="../static/images/general_4.jpg" class="thumbnail">
            <img src="../static/images/general_4.jpg" alt="...">
          </a>
        </div>
        <p>
        Если в Европе только наслаждаются красотой бабочек, то в Китае, Южной Америке и Индии их умеют готовить и с удовольствием едят.
        </p>
        <div class="col-xs-9 col-md-12">
          <a href="../static/images/general_5.jpg" class="thumbnail">
            <img src="../static/images/general_5.jpg" alt="...">
          </a>
        </div>
        <p>
        Настоящими полярницами можно назвать несколько видов бабочек, которые обитают на канадском острове Королевы Елизаветы в 750 километрах от Северного полюса.
        </p>
      </div>
    </div>
{% endblock content %}