{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Контакты{% endblock%}


{% block nav_class_contact %}active{% endblock%}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1><i><b>Our contacts</b></i></h1>
          <ul class="list-group">
            <p class="list-group-item list-group-item-success"><b>Name:</b> Yevheniia Smyrnova</p>
            <p class="list-group-item list-group-item-info"><b>Skype:</b> Zhenya1393</p>
            <p class="list-group-item list-group-item-warning"><b>Email:</b> ZhenyaSmirnova@ukr.net</p>
            <p class="list-group-item list-group-item-danger"><b>Phone:</b> 099-404-5148</p>
          </ul>
      </div>
    </div>
{% endblock content %}