{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Главная{% endblock%}


{% block nav_class_index %}active{% endblock%}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1><i><b>Коллекционирование бабочек.</b></i></h1>
        <p>Бабочки являются наиболее популярной группой насекомых для частных коллекционеров и научных работников. Это объясняется огромным количеством видов, большим разнообразием форм, их широким распространением, разнообразием размеров и цветов. Коллекционирование бабочек зародилось давно. Ещё в середине XVIII века английские коллекционеры бабочек называли себя аурелианами — от лат. aureus — «золотой» (намёк на золотистую окраску куколок некоторых бабочек). В середине XIX века в интерьере викторианских домов непременно присутствует застеклённый шкаф, где наряду с раковинами морских моллюсков, окаменелостями и минералами выставлялись и засушенные бабочки.
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://ru.wikipedia.org/wiki/Энтомологическая_коллекция" role="button">
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Узнать больше</a></p>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron">
        <h1><i><b>Расписание выставок.</b></i></h1>
        {% if messages %}
          <ul class="list-group">
          {% for message in messages %}
            <p class="list-group-item list-group-item-success">{{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}
        <a class="btn btn-primary btn-sm" href="{% url 'exhibition:create' %}" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить новую выставку</a>
        {% if exhibitions %}
          {% for exhibition  in exhibitions %}
            <h3><i><b><a href="{% url 'exhibition:detail' exhibition.id %}">{{ exhibition.name }}</a></b></i></h3>
            <p>{{ exhibition.date }}</p>
            <p>{{ exhibition.short_description }}</p>
            <hr>
          {% endfor %}
        {% else %}
          <p>В ближайшее время, выставки не планируются</p>
        {% endif %}
      </div>
    </div>
{% endblock content %}