<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Бабочки</b></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Главная<span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'butterfly_list' %}">Редкие бабочки</a></li>
            <li><a href="{% url 'polls:index' %}">Опрос</a></li>
            <li><a href="{% url 'contact' %}">Контакты</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="jumbotron">
        <h1><i><b>Коллекционирование бабочек.</b></i></h1>
        <p>Бабочки являются наиболее популярной группой насекомых для частных коллекционеров и научных работников. Это объясняется огромным количеством видов, большим разнообразием форм, их широким распространением, разнообразием размеров и цветов. Коллекционирование бабочек зародилось давно. Ещё в середине XVIII века английские коллекционеры бабочек называли себя аурелианами — от лат. aureus — «золотой» (намёк на золотистую окраску куколок некоторых бабочек). В середине XIX века в интерьере викторианских домов непременно присутствует застеклённый шкаф, где наряду с раковинами морских моллюсков, окаменелостями и минералами выставлялись и засушенные бабочки.
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://ru.wikipedia.org/wiki/Энтомологическая_коллекция" role="button">Узнать больше</a></p>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron">
        <h1><i><b>Расписание выставок.</b></i></h1>
        {%for exhibition  in exhibitions %}
        <h3><a href="{% url 'contact' %}">{{exhibition.name}}</a></h3>
        <p>
        {{exhibition.date}}
        </p>
        <p>
        {{exhibition.short_description}}
        </p>
        <hr>
        {% endfor %}
      </div>
    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
