<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Morpho rhetenor</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Butterfly</b></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">General information</a></li>
            <li><a href="{% url 'butterfly_list' %}">Rare butterfly</a></li>
            <li><a href="{% url 'polls:index' %}">Polls</a></li>
            <li><a href="{% url 'contact' %}">Contacts</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="jumbotron">
        <h1><i><b>Morpho rhetenor</b></i></h1>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="../static/images/blue-morpho.jpg" class="thumbnail">
              <img src="../static/images/blue-morpho.jpg" alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="../static/images/blue-morpho1.jpg" class="thumbnail">
              <img src="../static/images/blue-morpho1.jpg" alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="../static/images/blue-morpho2.jpg" class="thumbnail">
              <img src="../static/images/blue-morpho2.jpg" alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="../static/images/blue-morpho3.jpg" class="thumbnail">
              <img src="../static/images/blue-morpho3.jpg" alt="...">
            </a>
          </div>
        </div><!-- /.row-->
        <table class="table">
          <tbody>
            <tr>
              <td><b>Name:</b></td>
              <td>Morpho rhetenor</td>
            </tr>
            <tr>
              <td><b>Other name:</b></td>
              <td>Blue Morpho</td>
            </tr>
            <tr>
              <td><b>Family:</b></td>
              <td>Nymphalidae</td>
            </tr>
            <tr>
              <td><b>Subfamily:</b></td>
              <td>Morfidy</td>
            </tr>
            <tr>
              <td><b>The first description:</b></td>
              <td>Kramer in 1775</td>
            </tr>
          </tbody>
        </table>
        <p>Rare butterfly Morpho rhetenor world so often found in dried form from the collectors, to see them in nature is almost impossible. But if the desire to meet with these bright blue flying beauties closer not stop just a picture, it is worth to go to Brazil, where these butterflies are under strict protection of the law.
        </p>
        <table class="table" border=2>
          <thead>
            <tr>
              <th>Year</th>
              <th>Month</th>
              <th>Week</th>
              <th>The number of population</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="8">2016</td>
            </tr>
            <tr>
              <td rowspan="4">August</td>
            </tr>
            <tr>		          
              <td>week 1</td>
              <td>436</td>
            </tr>
            <tr>
              <td>week 2</td>
              <td>422</td>
            </tr>
            <tr>
              <td>week3</td>
              <td>-</td>
            </tr>
            <tr>
              <td rowspan="4">September</td>
            </tr>
            <tr>
              <td>week1</td>
              <td>-</td>
            </tr>
            <tr>
              <td>week2</td>
              <td>-</td>
            </tr>		      
          </tbody>
        </table>
      </div>
    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
